@model SWP391.E.BL5.G3.Models.Restaurant

@{
    ViewData["Title"] = Model.RestaurantName;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<hr />
<div class="row">
    <div class="mt-4 d-flex flex-column">
        <form asp-action="EditRestaurant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RestaurantId" />
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label">Restaurant name:</label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Location:</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CreatedAt" />
            <div class="text-center mt-4 d-flex flex-column">
                <input type="submit" value="Update" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-4 d-flex flex-column">
    <a asp-action="ListRestaurants" class="btn btn-primary btn-lg">Back to List</a>
</div>

