@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<SWP391.E.BL5.G3.Models.Restaurant>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Restaurants:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Restaurant Name
            </th>
            <th>
                Location
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Restaurants", new { page = page }))
</div>
