<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SWP391.E.BL5.G3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SWP391.E.BL5.G3.styles.css" asp-append-version="true" />

</head>
<body>
    <div class="min-vh-100 d-flex flex-column">
        <div class="position-absolute bg-primary" style="top: 0px; left: 0px; width: 100%; height: 50vh; z-index:-1"></div>
        <header>
            <nav class="navbar navbar-expand-md navbar-toggleable-sm mb-3">
                <div class="container-md">
                    <a class="navbar-brand text-light" asp-area="" asp-controller="Home"
                       asp-action="Index">SWP391.E.BL5.G3</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="btn btn-primary mx-2 rounded-5 px-3 " asp-area="" asp-controller="Home"
                                   asp-action="Index">Home</a>
                            </li>
                            
                                @{
                                    var role = ViewData["Role"]?.ToString();

                                    // Display options for Admin and Travel Agent
                                    if (role == "Admin" || role == "Travel_Agent")
                                    {
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Tours" asp-action="ListTour">Tours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Restaurants" asp-action="ListRestaurants">Restaurants</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Vehicles" asp-action="ListVehicles">Vehicles</a>
                                    </li>
                                        if (role == "Admin")
                                        {
                                        <li class="nav-item">
                                            <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Admin" asp-action="ListRegisterTravelAgent">ListTravelAgent</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Admin" asp-action="ListAccount">ListAccount</a>
                                        </li>
                                        }
                                    }
                                    else
                                    {
                                        // Options for regular guests
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Tours" asp-action="ListTourForGuests">Tours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Restaurants" asp-action="ViewRestaurantList">Restaurants</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Vehicles" asp-action="ViewVehicleList">Vehicles</a>
                                    </li>
                                    }
                                }

                            <li class="flex-fill"> </li>

                            @if (User.Identity.IsAuthenticated) // Kiểm tra xem người dùng đã đăng nhập chưa
                            {
                                if (role == "Customer")
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Tours" asp-action="MyBookingTours">MyBooking</a>
                                    </li>
                                }
                                // Nếu người dùng đã đăng nhập, có thể thêm nút logout hoặc một cái gì đó khác
                                <li class="nav-item">
                                    <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                // Hiển thị nút Login và Register chỉ khi người dùng chưa đăng nhập
                                <li class="nav-item">
                                    <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-primary mx-2 rounded-5 px-3" asp-area="" asp-controller="Login" asp-action="CheckEmailRegister">Register</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="mt-5 pt-5 px-5 container pb-3 flex-fill bg-light rounded-3">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted pb-5">
            <p class="container text-center">
                &copy; 2024 - SWP391.E.BL5.G3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>