
@using SWP391.E.BL5.G3.ViewModels
@model HotelViewModel

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Edit Hotel</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="Hotel.HotelId" />
    </div>

    <div class="form-group">
        <label asp-for="Hotel.HotelName" class="control-label"></label>
        <input asp-for="Hotel.HotelName" class="form-control" />
        <span asp-validation-for="Hotel.HotelName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Hotel.Location" class="control-label"></label>
        <input asp-for="Hotel.Location" class="form-control" />
        <span asp-validation-for="Hotel.Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Hotel.Description" class="control-label"></label>
        <textarea asp-for="Hotel.Description" class="form-control"></textarea>
        <span asp-validation-for="Hotel.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Current Image</label>
        @if (!string.IsNullOrEmpty(Model.Hotel.Image))
        {
            <img src="@Model.Hotel.Image" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
            <input type="hidden" name="CurrentImage" value="@Model.Hotel.Image" />
        }
        else
        {
            <p>No image available.</p>
        }
    </div>

    <div class="form-group">
        <label class="control-label">Upload New Image</label>
        <input type="file" name="Image" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Hotel.Status" class="control-label"></label>
        <input asp-for="Hotel.Status" type="checkbox" />
        <span asp-validation-for="Hotel.Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Hotel.Price" class="control-label"></label>
        <input asp-for="Hotel.Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Hotel.Price" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Hotel.ProvinceId" class="control-label"></label>
        <select asp-for="Hotel.ProvinceId" class="form-control" asp-items="Model.ProvincesList.Select(p => new SelectListItem
    {
        Value = p.ProvinceId.ToString(),
        Text = p.ProvinceName
    })"></select>
        <span asp-validation-for="Hotel.ProvinceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>
